.bg-red {
	background-color: rgba(255, 0, 0, 1) !important;
}
.bg-red-25 {
	background-color: rgba(255, 0, 0, 0.25) !important;
}

.bg-red-50 {
	background-color: rgba(255, 0, 0, 0.5) !important;
}
.bg-red-75 {
	background-color: rgba(255, 0, 0, 0.75) !important;
}





.bg-green {
	background-color: rgba(0, 255, 0, 1) !important;
}
.bg-green-25 {
	background-color: rgba(0, 255, 0, 0.25) !important;
}
.bg-green-50 {
	background-color: rgba(0, 255, 0, 0.50) !important;
}
.bg-green-75 {
	background-color: rgba(0, 255, 0, 0.75) !important;
}




.bg-blue {
	background-color: rgba(0, 0, 255, 1) !important;
}
.bg-blue-25 {
	background-color: rgba(0, 0, 255, 0.25) !important;
}
.bg-blue-50 {
	background-color: rgba(0, 0, 255, 0.50) !important;
}
.bg-blue-75 {
	background-color: rgba(0, 0, 255, 0.75) !important;
}



.bg-yellow {
	background-color: rgba(255, 255, 0, 1) !important;
}
.bg-yellow-25 {
	background-color: rgba(255, 255, 0, 0.25) !important;
}
.bg-yellow-50 {
	background-color: rgba(255, 255, 0, 0.50) !important;
}
.bg-yellow-75 {
	background-color: rgba(255, 255, 0, 0.75) !important;
}




.bg-cyan {
	background-color: rgba(0, 255, 255, 1) !important;
}
.bg-cyan-25 {
	background-color: rgba(0, 255, 255, 0.25) !important;
}
.bg-cyan-50 {
	background-color: rgba(0, 255, 255, 0.50) !important;
}
.bg-cyan-75 {
	background-color: rgba(0, 255, 255, 0.75) !important;
}




.bg-magenta {
	background-color: rgba(255, 0, 255, 1) !important;
}
.bg-magenta-25 {
	background-color: rgba(255, 0, 255, 0.25) !important;
}
.bg-magenta-50 {
	background-color: rgba(255, 0, 255, 0.50) !important;
}
.bg-magenta-75 {
	background-color: rgba(255, 0, 255, 0.75) !important;
}








.bg-orange {
	background-color: rgb(255, 106, 0, 1) !important;
}
.bg-orange-25 {
	background-color: rgb(255, 106, 0, 0.25) !important;
}
.bg-orange-50 {
	background-color: rgb(255, 106, 0, 0.50) !important;
}
.bg-orange-75 {
	background-color: rgb(255, 106, 0, 0.75) !important;
}






.bg-gray {
	background-color: rgb(128, 128, 128, 1) !important;
}
.bg-gray-15 {
	background-color: rgb(128, 128, 128, 0.15) !important;
}
.bg-gray-25 {
	background-color: rgb(128, 128, 128, 0.25) !important;
}
.bg-gray-50 {
	background-color: rgb(128, 128, 128, 0.50) !important;
}
.bg-gray-75 {
	background-color: rgb(128, 128, 128, 0.75) !important;
}







.bg-silver {
	background-color: rgb(192, 192, 192, 1) !important;
}

.bg-silver-15 {
	background-color: rgb(192, 192, 192, 0.15) !important;
}

.bg-silver-25 {
	background-color: rgb(192, 192, 192, 0.25) !important;
}

.bg-silver-50 {
	background-color: rgb(192, 192, 192, 0.50) !important;
}

.bg-silver-75 {
	background-color: rgb(192, 192, 192, 0.75) !important;
}






.bg-lightgray {
	background-color: rgb(211, 211, 211, 1) !important;
}

.bg-lightgray-15 {
	background-color: rgb(211, 211, 211, 0.15) !important;
}

.bg-lightgray-25 {
	background-color: rgb(211, 211, 211, 0.25) !important;
}

.bg-lightgray-50 {
	background-color: rgb(211, 211, 211, 0.50) !important;
}

.bg-lightgray-75 {
	background-color: rgb(211, 211, 211, 0.75) !important;
}





































